.container {
    padding: 0 2rem;
    color: #F0FFFF;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logs {
    color: #F0FFFF;
    font-weight: bold;
    margin-top: 0;
    line-height: 1.5;
    font-size: 1.2rem;
    height: 70px;
}

.button {
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    background-color: #F0FFFF;
    width: 300px;
}

.button:hover {
    color: #000000;
    background-color: #FFFAF0;
}

.button:active {

    position: relative;
    top: 1px;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.5rem;

}

.smalltitle {
    margin: 1rem 0;
    line-height: 0.5;
    font-size: 1.0rem;
}

.textarea1 {
  color: #000000;   
  width: 300px;
  height: 50px;
  font-size: 1.0rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #F0FFFF;
  resize: none;
}

.textarea2 {
  color: #000000;   
  width: 300px;
  height: 50px;
  font-size: 1.0rem;
  text-align: center;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #F0FFFF;
  resize: none;
}